iframe {
  position: fixed;
  top: -213px;
  left: -10px;
  border: none
}

.video-list {
  position: fixed;
  top: 0px;
  left: 700px;
  width: 500px;
  height: 700px;
  max-height: 700px;
  overflow: auto;
}

.video-list, li {
  margin: 20px 0px;
}
